.why-container{
    color: white;
    padding: 100px 100px 0px 100px;
}
.why-row1{
    color: var(--pure-white, #FFF);
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: 143.023%; /* 77.232px */
}
.why-row2{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}
.why-r2-c{
    padding-left: 10px;
    width: 359px;
height: 377px;
border-radius: 14px;
border: 1.4px solid rgba(255, 255, 255, 0.10);
background: #1D1D1D;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.why-r2-c-svg{
    width: 101px;
height: 101px;
background-color: #FFF;
border-radius: 50%;
display: flex;
padding: 7.75px 5.167px 5.258px 5.167px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.why-box-p1{
    color: var(--pure-white, #FFF);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 100% */
}
.why-box-p2{
    color: var(--pure-white, #FFF);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 162.523%; /* 22.753px */
opacity: 0.3;
}
.why-r2-c button{
    width: 121px;
height: 43px;
border-radius: 23.5px;
background: #E3B748;
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 162.523%; /* 22.753px */
}